@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/nexa-bold');

* {
    font-family: 'Nexa', sans-serif;
}

/* home styles */
.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/multidish-pic.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pizzaImage {
    border-radius: 10% 20%;
}

.restaurantImage {
    border-radius: 20% 10%;
}

/* about styles */
.ownersImage {
    border-radius: 10% 20%;
}

.tridish {
    border-radius: 20% 10%;
}